
@model UserSignup.ViewModel.AddUserViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form asp-controller="User" asp-action="Add" method="post">

    <label asp-for="name"></label>
    <input asp-for="name"><br>

    <label asp-for="email"></label>
    <input asp-for="email"><br>

    <label asp-for="password"></label>
    <input asp-for="password" type="password"><br>

    <label asp-for="verify"></label>
    <input asp-for="verify" type="password"><br>

    <input type="submit" value="Login">

<div class="form-element">
    <label>Password</label>
    <input name="Password" value="@Model.Password" type="password" />
</div>

<div class="form-element">
    <label>Verify Password</label>
    <input name="verify" type="password" />
</div>

<div class="form-element">
    <label>Favorite Color</label>
    <input name="FavColor" type="text" value="@Model.FavColor" />
</div>

<input type="submit" value="Submit" />
</form>
